body {
    background: center center fixed no-repeat url("./assets/home.png") ;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ancients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        max-width: 40%;
        padding-top: 5%;
    
}

.ancient-card {
    background: center center no-repeat;
    background-size: contain;
    height: 274px;
    width: 222px;
}

.difficulties {
    max-width: 20%;

}

.difficulties-button {
    padding: 10px 30px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    text-align: center;
    color: white;

}